/Muhammad Hasiff Bin Jazlan.txt
/Project 1 - Muhammad Hasiff Bin Jazlan.rar
/Project 1.PNG
/Project 2 - Less than 10.PNG
/Project 2 - More than 10.PNG
/Project 2 - Muhammad Hasiff Bin Jazlan.rar
/Project 3 - Age less than 30.PNG
/Project 3 - Age more than 30.PNG
/Project 3 - Muhammad Hasiff Bin Jazlan.rar
/project_1.js
/project_2 - Simple Calulator.html
/project_3.html